@import "./variables";
@import "./mixins";

$highlight-radius-sm: 100px;
$highlight-radius-md: 125px;
$highlight-radius-lg: 150px;
$highlight-orign-top: 200px;
$highlight-orign-left: 120px;
$highlight-origin-right: $highlight-orign-left;

.game-board {
  position: relative;
  overflow: hidden;
}

.background-effects-container {
  position: absolute;
  width: 100%;
}

.highlight-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  border: solid thin red;
}

.highlight {
  position: absolute;
  border-radius: 50%;
}

.highlight-sm {
  top: $highlight-orign-top - $highlight-radius-sm;
  width: $highlight-radius-sm * 2;
  height: $highlight-radius-sm * 2;
  z-index: 10;
  background-color: #ffffff12;
}

.highlight-sm-left {
  left: $highlight-orign-left - $highlight-radius-sm;
}

.highlight-sm-right {
  right: -($highlight-orign-left - $highlight-radius-sm);
}

.highlight-md {
  top: $highlight-orign-top - $highlight-radius-md;
  width: $highlight-radius-md * 2;
  height: $highlight-radius-md * 2;
  z-index: 5;
  background-color: #ffffff14;
}

.highlight-md-left {
  left: $highlight-orign-left - $highlight-radius-md;
}

.highlight-md-right {
  right: ($highlight-orign-left - $highlight-radius-md);
}

.highlight-lg {
  top: $highlight-orign-top - $highlight-radius-lg;
  width: $highlight-radius-lg * 2;
  height: $highlight-radius-lg * 2;
  z-index: 0;
  background-color: #ffffff0f;
}

.highlight-lg-left {
  left: $highlight-orign-left - $highlight-radius-lg;
}

.highlight-lg-right {
  right: ($highlight-orign-left - $highlight-radius-lg);
}
