@import "./variables";
@import "./mixins";

$max-choices-container-width: 768px;

.play-area-container {
  position: relative;
  margin-top: 6rem;
  height: 400px;
  // background-image: url("../resources/bg-triangle.svg");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: 250px;
}

.play-area-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: $max-choices-container-width;
  background-image: url("../resources/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px;
}

.choices-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: $max-choices-container-width;
}

@include tablet {
  .play-area-bg {
    left: 50%;
    margin-left: -($max-choices-container-width/2);
  }

  .choices-container {
    left: 50%;
    margin-left: -($max-choices-container-width/2);
  }
}

.choice-container {
  padding: 25px;
  width: max-content;
  border-radius: 50%;
  position: absolute;
}

.paper {
  top: 25px;
  left: 50%;
  margin-left: -150px;
  background-color: blue;
}

.scissors {
  top: 25px;
  left: 50%;
  margin-left: 14px;
  background-color: orange;
}

.rock {
  top: 190px;
  left: 50%;
  margin-left: -65px;
  background-color: red;
}

.choice-white-bg {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}

.choice-white-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
}
