// UNITS FOR CIRCLE PLACEMENT
$highlight-radius-sm: 110px;
$highlight-radius-md: 160px;
$highlight-radius-lg: 200px;
$highlight-orign-top: 200px;
$highlight-orign-left: 120px;
$highlight-origin-right: $highlight-orign-left;

$default-border-radius: 6px;

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
